<div id="<%= dom_id practice_match %>">
  <p>
    <strong>Sports:</strong>
    <%= practice_match.sports %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= practice_match.schedule %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= practice_match.place %>
  </p>

</div>
