<% content_for :title, "Editing practice match" %>

<h1>練習試合募集編集画面</h1>

<%= render "form_match", practice_match: @practice_match %>

<br>

<div>
  <%= link_to "Show this practice match", @practice_match %> |
  <%= link_to "Back to practice matches", practice_matches_path %>
</div>
