<%= render 'layouts/header' %>

<% content_for :title, "練習試合募集作成画面" %>

<h1>New practice match</h1>

<%= render "form_match", practice_match: @practice_match %>

<br>

<div>
  <%= link_to "Back to practice matches", root_path %>
</div>

<%= render 'layouts/footer' %>
