<%= render 'layouts/header' %>

<% content_for :title, "Editing profile" %>
<div class="container-profile">
  <div class="h1">
    <h1>プロフィール編集画面</h1>
  </div>


<%= render "form", profile: @profile %>

<br>

<div class="pro-show">
  <%= link_to "プロフィール詳細へ", @profile %> 
</div>

<%= render 'layouts/footer' %>

<style>
    .h1 {
      text-align: center;
      color: black;
      padding: 10px 10px;
    }

    .pro-show {
      text-align: center;
      color: black;
    }
</style>
